@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'GCT';
  src: url('/fonts/GCT_Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
